@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-Thin.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-ExtraLight.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-ThinItalic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-BoldItalic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-SemiBoldItalic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-Regular.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-Medium.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-SemiBold.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-MediumItalic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-Italic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-Light.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-ExtraLightItalic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-LightItalic.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FS Siena";
    src:
        url("~/assets/fonts/FSSiena-Bold.woff2") format("woff2"),
        url("~/assets/fonts/FSSiena-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}