$primary: #094752;
$secondary: #08AEA2;
$error: #de2006;

$above-the-fold-color: #08AEA2;

$text-color-primary: #030402;
$text-color-secondary: #08AEA2; 


$font-primary: #08AEA2;
$font-secondary: #08AEA2;
$font-tertiary: #FFFFFF;
$font-four: #09454F;

$link-color-primary: #09454F; //enlaces
$link-color-secondary: #08AEA2;
$text-color-flechas: #09454F; //flechas

$register-button-text: #FFFFFF;
$register-button-bg: #09454F;

$yellow-tree-lines: #08AEA2;

$font-size-small: 16px;
$font-size-small-mobile: 16px;
$font-size-medium: 22px;
$font-size-medium-mobile: 18px;
$font-size-large-medium: 32px;
$font-size-large: 42px;
$font-size-large-mobile: 32px;

$max-width-lg: 1200px;
$max-width-md: 1050px;
$max-width-sm: 930px;
$default-breakpoint: 767px;
$max-width-seven-colum-row-elements: 1210px;
$mobile-width: 460px;

@mixin x-padding() {
    padding-left: 20px;
    padding-right: 20px;
}
